h2{

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px;
	font-family: $ff-secundaria;
}

.losLorem{
	background-color: $bgPrimario;
	font-family: $ff-primaria;
}


.formularioCapture{
	background-color: $colorSecundario;
}
